/* Navigation bar */

nav {
  border: 1px solid;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

ul li:hover a {
  color: red;
}

span,
strong {
  border: 2px solid;
  width: 200px;
  height: 100px;
  display: inline-block;
}
